<h1>User List</h1>

<ul>
	<% @users.each do |u| %>
	<li>
		<%= link_to u.name, user_path(u.id) %>
		<%= link_to "[Edit]", edit_user_path(u.id) %>
		<%= link_to "[Delete]", user_path(u.id), method: :delete, 
				data: { confirm: "Going to delete, really?" } %></p>
	</li>
	<% end %>
</ul>

<p><%= link_to "Add new.", new_user_path %></p>
